.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
temp/*
EDAimages/
logs/
*.ipynb
*.ipynb_checkpoints

.git
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
temp/*
EDAimages/
logs/
*.ipynb
*.ipynb_checkpoints



